:root{
    --app-primary-background-color:#FFFFFF;
    --app-secondary-background-color:#F9F9F9;
    --app-action-background-color:#F2F2F2;
    --app-nav-background-color:#222222;


    --app-primary-font-color:#222222;
    --app-secondary-font-color:#727272;
    --app-sub-title-color:#333333;
    --app-nav-text-color:#FFFFFF;
    --app-footer-text-color:#FFFFFF;
    --app-unfocused-text-color:#C4C4C4;
    --app-primary-highlighted-text-color:#DB5151;
    --app-secondary-highlighted-text-color:#43B963;

    --app-primary-border-color:#E5E5E5;
    --app-secondary-border-color:#C4C4C4;

    --app-primary-btn-background-color:#FFFFFF;
    --app-secondary-btn-background-color:#000000;
    --app-primary-btn-text-color:#333333;
    --app-secondary-btn-text-color:#FFFFFF;
    --app-primary-btn-border-color:#000000;
}