.AddNewItemIcon{
    font-size: 35px;
    color:#313D54;
}
.CardBody{
    width: 1011px;
    margin-left:-1px;
}
.Text{
    margin-left: 10px;
    margin-top: 5px;
}
.DashedOutlined{
    margin-top: -8px;
    
}
.antUploadDragIcon{
    color: #46556C;
    font-size: 30px;
}
.submitButton{
    margin-right: 50px;
    background-color: #313D54;
    font-size: 14px;
    color:#FFFFFF;
    border-radius: 4px;
}
