.dashboardProductTableActionButtonEdit{
    background-color: #ffffff;
    text-align: left;
    font: normal normal 600 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #757575;
    margin-left: 5px;
}
.dashboardProductTableActionButtonEdit:hover{
    background-color: #5f717a;
    text-align: left;
    font: normal normal 600 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
    margin-left: 5px;
}
.dashboardProductTableActionButtonRemove {
    background-color: #ffffff;
    text-align: left;
    font: normal normal 600 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #757575;
    margin-left: 5px;
  }
  .dashboardProductTableActionButtonRemove:hover {
    background-color: #d03144;
    text-align: left;
    font: normal normal 600 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
    margin-left: 5px;
  }
  .dashboardProductTableAction {
    padding-left: 50px;
    padding-right: 50px;
  }